body{
        background: linear-gradient(#ececec,white);
        font-family: inherit;
        margin:0;
        padding:0;
}
h1{
       color: #f0961c;
       text-transform: uppercase !important;
       width: 100%;
       text-align: center;
       font-size: 15px;
       margin-top:5px;
       border: 1px solid #6d6d6d;
       border-radius:10px;
       padding:1%;
}
table{
        width:100%;
        text-align: center;
        font-size:15px;
}
th{
       color:white;
       background: #6d6d6d;
       border-radius:10px;
}
td{
        text-transform: uppercase !important;
}
div{
        background: linear-gradient(#6d6d6d,#39922b);
        text-align:center;
        border-top: 4px solid #f0961c; 
}
img{
        width:20%;
        margin-top:5px;
        margin-bottom:5px;
}